<h1> Student <%=@student.name %> </h1>

<h4> Addresses </h4>
<% @student.addresses.each do |address| %>
<p><%= address.description %></p>
<p><%= address.street %></p>
<p><%= address.city %></p>
<p><%= address.state %></p>
<p><%= address.zip_code %></p>
<% end %>
